
html{
	scroll-behavior: :smooth;
}
body{
	position:relative;
	background-color:#6C5A49;
}
/* navbar */
.navbar-default {
    background-color: #6C5A49

}


.navbar-default .navbar-nav > li > a:hover {
    color: #fff ;

}
.navbar-default .navbar-nav > li > a:focus {
    color:#FFE882;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color:#FFE882;
    background-color: #6C5A49;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFE882;
    background-color: #6C5A49;

}
  .navbar{margin:0;
  	border:0;
  }


  /*another atribut*/
  #Home{
  }
.ac{
 height: 10px;
  width: 10px;
  background-color: #FFE882;
  border-radius:100%;
}
  .welcome{
  	position: relative;
 	text-align: center;
 	height: 839px;
 	width: 1072px;
  	background-image: url("akuanakhebat.jpg");
  	font-size: 100px;
  	color: white;
  	font-family: 'Knewave', cursive;
  }
  .thx{
    position: relative;
  text-align: center;
    font-size: 100px;
    color: white;
    font-family: 'Knewave', cursive;
  }
  .register{
font-size: 50px;
    color:#FFC82C;
    font-family: 'Knewave', cursive;
  }
   .bg-1{
    position:relative;
     background-color: #6C5A49;
      padding-top: 1%;
    padding-left: 15%;
}


.bg-2{
  position:relative;
  height: 403px;
  width: 439px;
  background-image:url("profilepage.jpg");
     background-color: #6C5A49;
      padding-top: 20%;
    left:35%;
}
#Profile{
	padding-top:3%;
}

#imagepage2{
	height:200px;
	width:178px;
	border-radius:5%;
	padding-top:1%;
	margin-left:4%;
}
.bg-3{
  position:relative;
     background-color: #6C5A49;
     padding-top: 10%;
      padding-left:19%;
}
#imagepage2+{
	width:920px;
	height:285px;
}
.textname{
	position:absolute;
	right:6%;
	top:10%;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
}
.textdesc{
	position:relative;
 left:5%;
	top:61%;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
}
.square{
	position:relative;
 height: 150px;
  width: 150px;
  right:200px;
	top:50%;
  background-color: #FFC82C;
  opacity:0.76;
}
.square2{
	position:relative;
 height: 150px;
  width: 150px;
  right:160px;
	top:40%;
  background-color: #FFC82C;
  opacity:0.76;
}

.circle{
position:absolute;
 height: 150px;
  width: 150px;
  left:300px;
	top:980px;
  background-color: #FFC82C;
  border-radius:100%;
  opacity:0.76;
}
.circle2{
position:absolute;
 height: 150px;
  width: 150px;
  left:335px;
	top:1030px;
  background-color: #FFC82C;
  border-radius:100%;
  opacity:0.76;
}
.bg-4{
  position:relative;
     background-color: #6C5A49;
      padding-top: 1%;
    padding-left: 40%;
}
.square3{
	position:relative;
 height: 170px;
  width: 170px;
  left:380px;
	top:70px;
  background-color: #FFC82C;
  opacity:0.5;
}
.square4{
	position:relative;
 height: 150px;
  width: 150px;
  left:460px;
	top:60px;
  background-color: #FFC82C;
  opacity:0.5;
}

.circle3{
position:relative;
 height: 150px;
  width: 150px;
  right:310px;
	top:60px;
  background-color: #FFC82C;
  border-radius:100%;
  opacity:0.76;
}
.circle4{
position:relative;
 height: 170px;
  width: 170px;
  right:250px;
	top:70px;
  background-color: #FFC82C;
  border-radius:100%;
  opacity:0.76;
}
.exp1{
	position:relative;
	background-image:url("exp1.jpg");
	height: 30%;
	width: 30%;
	 left:50%;
	top:50%;
}
.exp2{

	position: relative;
	background-image:url("exp2.jpg");
	height: 300px;
	width: 300px;
	 right:380px;
	top:100px;
}
.exp3{

	position: relative;
	background-image:url("exp3.jpg");
	height: 30%;
	width: 30%;
	 left:50%;
	padding-bottom:50%;
}
.exp4{

	position: relative;
	background-image:url("exp4.jpg");
	height: 30%;
	width: 30%;
	 padding-right:50%;
	padding-top:10%;
}
.bg-5{
  padding-top: 10%;
  position:relative;
	 border-color:#FFE882;
  bottom:70%;
left:40%;
width:400px;
height:350px;
}
form{
  color:#FFC82C;
}
.form-control{ 
width:300px;
height:20px;}