{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
</style>
<title>
  Story 3 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="{% static 'CSS_Story3.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 {%block content%}{%include 'Navbar.html'%}{%endblock%}
<div  class="bg-5">
<h1 class="register"> Register Now!</h1>
  <form>
<form class="form-inline" action="THX.html">
<label for="pwd">Name:</label>
<input type="text" class="form-control" class=""  id="name" required>
<label for="pwd">Tanggal Lahir:</label>
<input type="date" class="form-control" id="tanggal lahir" required>
  <label for="email">Email address:</label>
  <input type="email" class="form-control" id="email" required>
<label for="pwd">Username:</label>
<input type="text" class="form-control" id="username" required>
  <label for="pwd" >Password:</label>
  <input placeholder="Password" type="password" class="form-control" id="password" required>
   <label for="pwd">Password Confirmation:</label>
  <input placeholder="Confirm Password" type="password" class="form-control" id="confirm_password" required>
  <script>var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}
password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
  <div class="form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox"> Remember me
    </label>
  </div>
  <button type="submit" class="btn btn-primary" onclick="">Submit</button>
</form>
</form>
</body>
</html>