{% load static %}
{% block content %}
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top sticky-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"href="#"><script>
var audio = new Audio("{% static 'its-me-mario.mp3' %} ");
audio.oncanplaythrough = function ( ) { }
audio.onended = function ( ) { }
</script> <input type="image" src="{% static 'marioicon.png' %}"" width="100" height="100" alt="CLICK ME!!!" onclick="audio.play ( );"></a>
    </div>
    <ul class="nav navbar-nav" >
      <li class="active"><a href="Story 3.html">Home </a></li>
      <li class="active"><a href="Profile.html">Profile</a></li>
      <li class="active"><a href="Experience.html">Experience</a></li>
      <li class="active"><a href="Form.html">Register</a></li>
    </ul>
  </div>
</nav>
{% endblock %}