{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
</style>
<title>
  Story 3 PPW
</title>

<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'CSS_Story3.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="Navbar.html" rel="import">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  {%block content%}{%include 'Navbar.html'%}{%endblock%}
<div  id="Profile" class="bg-2">
   <h1 class="textname">
  I'am <br>
  Jeremy
<br><br><br>
 Age:20<br><br>
   Sex:Male<br>
  <br>
  Address:Apartment Green<br>
Lake Sunter ,North Jakarta</h1>
<h2 class="textdesc">"Take your chance!!!"<br><br>I'am just student at Faculty of Computer Science in <br> Universitas Indonesia who want to <br>make my momma proud!</h2>
</div>
   <div class="bg-3">
 <img id="imagepage2+" src="{% static 'trackrecord.jpg' %}"></div>
</body>
</html>
<!--  -->