{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <style>
</style>
<title>
  Story 3 PPW
</title>

<meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'CSS_Story3.css' %}" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Knewave" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
 {%block content%}{%include 'Navbar.html'%}{%endblock%}
<div id="Home" class="bg-1">
  <h3 class="welcome"><br>
    <br>
    <br>
  Welcome!!!</h3>
</div>
</body>
</html>    